        <!-- *** FOOTER ***
_________________________________________________________ -->

        <div class="section" id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-sm-12">
                        <p>&copy; 2018 PinUp. All rights reserved.</p>
                    </div>

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** FOOTER END *** -->

    </div>
    <!-- /#all -->


</body>

</html>