#profile-body{
    height: max-content;
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
}

#profile-body:before{
    margin-top: 5%;
}

#profile-body:after{
    padding-bottom: 2%;
    margin-bottom: 15%;
}

#submitUpload{
    visibility: hidden;
}
#upload-title{
    text-align: center;
}

#user-picture{
    width: 75%;
}

#profile-image:hover{
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}
#upload-profile-pic-container{
    margin: 0 auto;
}

.new-task-plus {
    font-size: 2em;
    color: #ce0cf9;
    margin-top: 10%;

}

.fa-thumbtack{
    margin-top: 10%;
}

.task-actions{
    display:  none;
    position: absolute;
    /*left:20%;*/
    top: 30%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.task-cards{
    margin-bottom: 2em;
}


.task-cards:hover{
    opacity:0.6;
    background-color: Gray;
}